global:
  database:
    host:
    port:
    username:
    passwordEnvName:

  databaseSecret:
    name:
    key:

  ingress:
    ingressClassName:

grpcPort: 8081
httpPort: 8080

filelManagerServerAddr:
modelManagerInternalServerAddr:

database:
  database: job_manager

jobNamespace: default

debug:
  kubeconfigPath:

auth:           
  oidcIssuerUrl: http://kong-kong-proxy.kong/dex
  oidcClientID: llm-operator

replicaCount: 1

serviceAccount:
  create: true
  serviceAccountName: job-manager-server

image:
  repository: public.ecr.aws/v8n3t7y5/llm-operator/job-manager-server
  pullPolicy: IfNotPresent


version:
